@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  background-color: #222;
  padding: 50px 150px;
  color:white;
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}
h1 {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  font-size: 200px;
  margin: 0px auto;
}
h2 {
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  font-size: 45px;
  margin: 0px;
}
h3 {
  color: #ffffff;
  font-weight: 900;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  font-size: 35px;
  float: left;
  
}
p{color:white;float:left; margin:-1;}
pre {
  background-color: #d1d1d0;
  overflow: auto;
  font-family: "Monaco", monospace;
  padding: 0 1em;
}

.big {
  color: white;
  border-radius: 20pt;
  padding 1pt;
  width: 73%;
  background-color: #23272a;

  font-family: Monaco, monospace;
}
input{
/*   padding:1pt; */
    font-family: "Poppins", monospace;
  background:#23272a;
  padding: 10pt;
  border:none;
  cursor: pointer;
  color:white;
  font-size:16pt;
  border-radius: 2pt;

}
.input:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 10px white;
  }

.hover{
  background-color:white;
  color:black;
}