@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


body {
  background-color: #222;
  padding: 50px 150px;
  font-family: 'Source Code Pro', monospace;
  overflow-x: hidden;
}
h1 {
  color: #fff;
font-family: 'Source Code Pro', monospace;  text-align: center;
  font-size: 200px;
  margin: 0px auto;
}
h2 {
  color: #ffffff;
font-family: 'Source Code Pro', monospace;  text-align: center;
  font-size: 60px;
  margin: 0px;
}
 pre {
    background-color: #D1D1D0;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 0 1em;
  }



code {
    font-family: Monaco, monospace;
    font-size: $base-font-size;
    line-height: 100%;
    background-color: #23272A;
    padding: 0.3em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 5pt;
  }



pre code {
    border: none;
    background: none;
    font-size: $base-font-size * 0.875;
    line-height: 1em;
  color:white;
    letter-spacing: normal;
    word-break: break-all;
  }